
body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: white;
    line-height: 1.6;
}


header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    color: white;
}


nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

nav a {
    color: pink;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    padding: 5px;
}

nav a:hover {
    color: hotpink;
}


h2, h3 {
    text-align: center;
    color: #f549e4;
}


p {
    text-align: center;
    margin: 10px 0;
}

section a {
    display: block;
    text-align: center;
    margin: 10px auto;
    color: pink; 
    background-color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    width: fit-content; 
    
}

section a:hover {
    color: hotpink; 
    background-color: #f564e6;
}

section img {
    display: block;
    margin: 0 auto;
}


section img, section iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
}


section img {
    width: 200px; 
}


section iframe {
    width: 560px; 
    height: 315px; 
    border: none; 
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #f564e6;
    color: white;
}


footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

