
body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: white;
    line-height: 1.6;
}


header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    color: white;
}


nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

nav a {
    color: pink;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    padding: 5px;
}

nav a:hover {
    color: hotpink;
}


h2, h3 {
    text-align: center;
    color: #f549e4;
}


p {
    text-align: center;
    margin: 10px 0;
}


section img {
    display: block;
    margin: 0 auto;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #f564e6;
    color: white;
}


footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Styling for Table (if you have one in the future) */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: center;
}

