
body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: white;
    line-height: 1.6;
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}


.logo-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
}


main a {
    color: pink;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

main a:hover {
    background-color: #f564e6;
    color: hotpink;
}



nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: pink;
    background-color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: hotpink;
    color: white;
    border-radius: 5px; 



h2 {
    color: #hotpink;
    margin-bottom: 20px;
}


.profile-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    transition: transform 0.3s;
}

.profile-img:hover {
    transform: scale(1.1);
}


blockquote {
    font-style: italic;
    color: #f549e4;
    margin: 20px 0;
}


progress {
    width: 80%;
    margin: 10px auto;
    display: block;
}


footer {
    background-color: #f564e6;
    padding: 20px;
    color: white;
    text-align: center;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

