
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
}

.profile-img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
    margin: 20px auto;
    transition: transform 0.3s;
}

.profile-img:hover {
    transform: scale(1.1);

.navbar {
    list-style-type: none;
    display: flex;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

.navbar a:hover {
    color: #ffca28;
}


#hero {
    text-align: center;
    padding: 100px 20px;
    background: #34ebc9;
    color: white;
}

#hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

#hero .quote {
    font-style: italic;
    font-size: 24px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer a {
    color: #ffca28;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
