
* {
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: white;
    line-height: 1.6;
}


header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    color: white;
}

.profile-img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
    margin: 20px auto;
    transition: transform 0.3s;
}

.profile-img:hover {
    transform: scale(1.1);

.main-menu {
    list-style-type: none;
    display: flex;
}

.main-menu a {
    color: pink;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    
}

.main-menu a:hover {
    color: hotpink;
}


.hero {
    text-align: center;
    padding: 100px 20px;
    background: #34ebc9;
    color: white;
    display: flex;
}

.hero h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 20px;
}

 .quote {
    display: flex;
     justify-content: center;
     color: #f549e4;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 20px;
}

 p {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    text-align: center;
    padding-right: 20px;
    background-color: #f564e6;
    color: white;
}

.footer a {
    color: red;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
